In [46]:
import numpy as np
import pandas as pd
import itertools

In [44]:
import pandas as pd
df = pd.read_csv('data/similar.csv', sep = ',')
df.set_index('userID/game',inplace=True)
df_jacc = df.mask(df > 0, 1).fillna(0)
display(df_jacc)

             WatchDog  GTAV  PUBG  StarCraft  CallOfDuty  FIFA  WOW  MineCraft
userID/game
firechicken       1.0   1.0   1.0        0.0         1.0   1.0  1.0        0.0
mike0702          1.0   1.0   1.0        1.0         1.0   0.0  0.0        1.0
zephyros          0.0   1.0   0.0        1.0         0.0   0.0  1.0        1.0
dadvador          1.0   0.0   0.0        1.0         0.0   1.0  1.0        1.0

In [68]:
#print(df_jacc.loc['firechicken'])
result = []
for item in list(itertools.combinations(df_jacc.index, 2)):
    a = df_jacc.loc[item[0]].values
    b = df_jacc.loc[item[1]].values
    intersection = np.sum(a * b)
    union = np.sum(a + b > 0)
    jacc_dist = 1- intersection/union
    result.append({"user1":item[0], "user2":item[1], "smilarity":jacc_dist})
df_result = pd.DataFrame(result)
display(df_result)

         user1     user2  smilarity
0  firechicken  mike0702   0.500000
1  firechicken  zephyros   0.750000
2  firechicken  dadvador   0.625000
3     mike0702  zephyros   0.571429
4     mike0702  dadvador   0.625000
5     zephyros  dadvador   0.500000

In [ ]:

row